#nav-button
  width: 60px
  height: 45px
  position: absolute
  right: 0
  transform: rotate(0deg)
  transition: $speed_metal $evil_ease
  cursor: pointer

  .hamburger
    display: block
    position: absolute
    height: 10px
    width: 100%
    background: $gold
    opacity: 1
    left: 0
    transform: rotate(0deg)
    transition: $speed $evil_ease

    &:nth-child(1)
      top: 0px
      transform-origin: left center

    &:nth-child(2)
      top: 18px
      transform-origin: left center

    &:nth-child(3)
      top: 36px
      transform-origin: left center


  &.open
    .hamburger
      &:nth-child(1)
        transform: rotate(45deg)
        top: -3px
        left: 8px

      &:nth-child(2)
        width: 0%
        opacity: 0

      &:nth-child(3)
        transform: rotate(-45deg)
        top: 39px
        left: 8px

#main-nav
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  background-color: $black
  overflow: hidden
  visibility: hidden
  opacity: 0

  transform: scale(0.8) translate3d(0,0,0)
  transition: visibility 0ms linear $speed, opacity $speed $evil_ease, transform $speed $evil_ease

  &.show
    visibility: visible
    opacity: 1

    transform: scale(1.0) translate3d(0,0,0)
    transition: visibility 0ms linear, opacity $speed $evil_ease, transform $speed $evil_ease

#main-nav-inner
  position: absolute
  top: 50%
  left: 0px
  width: 100%
  transform: translate(0,-50%)

  ul
    width: 100%
    text-align: center

    li
      width: 100%

    span
      position: relative
      color: $gold
      text-decoration: none
      font-size: 10vw
      line-height: 1em
      display: inline-block

      &:after
        content: attr(data-title)
        position: absolute
        bottom: -50%
        left: 0px
        width: 100%
        height: 100%
        font-family: SeventiesShadeSolo
        cursor: pointer
        opacity: 0
        transition: opacity 0.25s ease-in-out

      &:hover
        &:after
          opacity: 1
