.slide
  position: relative
  width: 100%
  height: 100%
  background-color: #222

  .slide-inner
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    background-position: center
    background-size: cover
    background-repeat: no-repeat

  .hero
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    overflow: hidden

  .detail
    position: absolute
    top: 0px
    left: 100%
    width: 100%
    height: 100%
    background-color: $blood_lust
    overflow: hidden

#about .slide-inner
    background-image: url('/images/the-born-readies-about.jpg')
#merch .slide-inner
  background-image: url('/images/the-born-readies-merch.jpg')

#home, #about, #merch, #contact
  background-color: $white
  .centered-content
    width: 30vw
    height: 30vw

.centered-content
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)

