.slide
  position: relative
  width: 100%
  height: 100%
  background-color: #222

  .slide-inner
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    background-position: center
    background-size: cover
    background-repeat: no-repeat

  .hero
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    overflow: hidden
    opacity: 1
    transform: translate3d(0,0%,0)
    transition: opacity $speed $evil_ease, transform $speed_metal $evil_ease

  .detail-slider
    position: absolute
    top: 100%
    left: 0
    width: 100%
    height: 100%
    background-color: $black
    opacity: 0
    transform: translate3d(0,0%,0)
    transition: opacity $speed $evil_ease, transform $speed_metal $evil_ease

    section
      position: relative
      width: 100%
      height: 96%
      font-family: $hell_vetica
      overflow: hidden
      margin-top: 6%
      @media screen and (min-width: 768px)
        height: 100%
        margin-top: 0

  &.active
    transform: translate3d(0,0%,0)
    transition: transform $speed_metal $evil_ease

    &.detail-mode
      transform: translate3d(0,-100%,0)

      .hero
        opacity: 0
        transform: translate3d(0,-100%,0)

      .detail-slider
        opacity: 1



  svg#TBR
    width: 15%
    @media screen and (min-width: 768px)
      width: 8%

  svg#lightening
    width: 2%
    margin: 0 auto
    display: block

.centered-content
  position: absolute
  color: $gold
  width: 95vw
  height: auto
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  text-align: center
  @media screen and (min-width: 768px)
    width: 50vw

  h1
    font-size: 25vw
    padding-right: 4vw
    transition: all 300ms $evil_ease
    @media screen and (min-width: 768px)
      font-size: 10vw

  button
    width: 100%
    max-width: 200px
    height: 50px
    border: 2px solid $gold
    margin: 20px auto
    color: $gold
    cursor: pointer
    font-size: 15px
    transition: all 0.25s ease-in-out
    &:hover
      background-color: $gold
      color: $black

    @media screen and (min-width: 768px)
      margin: 30px auto


#home, #about, #merch, #contact
  background-color: $white

#home .centered-content
  .home-logo
    width: 75%
    height: auto
    @media screen and (min-width: 768px)
      width: 100%

  @media screen and (min-width: 768px)
    width: 30vw

#about .slide-inner
  section
    .press-kit
      display: none
      @include respond-above($media_768)
        display: inline
    .who-we-are, .press-kit
      height: 50%
      position: relative
      @include respond-above($media_768)
        height: 100%
      .content, .press-btn
        position: absolute
        width: 75%
        height: 50%
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        ul
          margin: 10px 0 25px 0
          color: $gold
          font-size: 14px
          line-height: 20px
          max-width: 450px
          @include respond-above($media_768)
            padding-left: 30px

          li.press-kit
            display: inline-block
            @include respond-above($media_768)
              display: none

          svg
            width: .4em
            height: auto
            margin-left: 10px
      .press-btn
        display: none
        cursor: pointer
        border: 4px solid rgba(162,144,96,0.15)
        transition: all $speed_metal $evil_ease
        @include respond-above($media_768)
          display: block
        &:hover
          border: 4px solid rgba(162,144,96,0.2)
          .content
            filter: grayscale(0%)
            opacity: .3
        .content
          opacity: .15
          width: 100%
          height: 100%
          background-image: url('/images/press-kit-img.jpg')
          background-position: center
          background-size: cover
          background-repeat: no-repeat
          filter: grayscale(100%)
          transition: all $speed $evil_ease
        .text
          position: absolute
          color: $gold
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          p
            font-family: SeventiesPrinted
            font-size: 5vw
          p:nth-child(2)
            font-family: $hell_vetica
            font-size: .6vw
            transform: translate(32%, 100%)
            
      .social-media
        width: 100%
        @include respond-above($media_768)
          padding-left: 30px
        a
          svg
            width: 40px
            height: auto
            #facebook, #instagram
              transition: fill $speed $evil_ease
          &:hover
            #facebook, #instagram
              fill: $white
  section.photos
    .content
      position: absolute
      width: 87%
      height: 90%
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
    .col-1-3
      background-color: $gold
      margin-top: 1.11%
      width: 100%
      height: 14%
      &.photo
        opacity: .15
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        transition: all $speed $evil_ease
        cursor: pointer
        filter: grayscale(1)
        &:hover
          filter: grayscale(0)
          opacity: .5

      @include respond-above($media_768)
        margin: 1.11% 1.11% 0 0
        width: 32.22%
        height: 42%

  section:nth-child(3)
    background-color: blue
#merch
  .slide-inner
    button
      margin: 20px auto
    section
      .ep, .shirt, .patch
        width: 100%
        height: 100%
        position: relative
        .content
          top: 50%
          transform: translate(-10%, -50%)
          position: absolute
          img
            transition: all 1000ms $evil_ease
            width: 90%
            height: 100%
        .title
          width: 40%
          height: 100%
          position: absolute
          margin: 0 auto
          top: 50%
          left: 50%
          color: $gold
          font-family: SeventiesPrinted
          text-align: center
          letter-spacing: 1px
          font-size: 2vw
          transform: translate(0%, 50%)
          opacity: 0
          transition: all 1200ms $evil_ease
          h1:nth-child(2)
            font-size: 4vw
            letter-spacing: -1px
            margin: 11px 0
        #ep-title
          width: 25%
          margin: 11px 0
        #album-art
          width: 82%
          margin: 30px auto
        #record
          transform: rotate(0deg)

  &.detail-mode
    .slide-inner section
      .ep
        #record
          transform: rotate(-390deg)
        .title
          transform: translate(0%, -21%)
          opacity: 1

  .slide-inner section
    .patch
      .content
        transform: translate(0, -50%)
        right: 0
        width: 50%
      .title
        width: 50%
        left: unset
        transform: translate(0%, -10%)
        opacity: 1

    .ep
      .content
        width: 100%

    .shirt
      .content
        transform: translate(0, -50%)
        right: 0
        #shirt-white, #shirt-black
          &.hide-shirt
            display: none
        img
          width: 70%
          float: right
      .title
        width: 50%
        left: unset
        transform: translate(0%, -25%)
        opacity: 1
        .black, .white
          height: 80px
          margin: 50px 20%
          outline: 3px solid $gold
          cursor: pointer
        .black
          background-color: $black
        .white
          background-color: $white
#contact
  .contact-list
    font-family: $hell_vetica
    svg
      width: .4em
      height: auto
      margin-left: 10px
  .social-media
    width: 70px
    margin: 0 auto
    svg
      float: left
      width: 30px
      #facebook, #instagram
        transition: fill $speed $evil_ease
        cursor: pointer
      #facebook:hover
        fill: $white
      #instagram:hover
        fill: $white
