.slide
  position: relative
  width: 100%
  height: 100%
  background-color: #222

  .slide-inner
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    background-position: center
    background-size: cover
    background-repeat: no-repeat

  .hero
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    overflow: hidden

  .detail
    position: absolute
    top: 0px
    left: 100%
    width: 100%
    height: 100%
    background-color: $black
    overflow: hidden
    section
      width: 100%
      height: 100%
      font-family: $hell-vetica
      .who-we-are, .press-kit
        height: 100%
        position: relative
        .content, .press-btn
          position: absolute
          width: 75%
          height: 50%
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          ul
            padding-left: 30px
            margin: 20px 0 40px 0
            color: $gold
            font-size: 14px
            line-height: 20px
            svg
              width: .4em
              height: auto
              margin-left: 10px
        .press-btn
          border: 2px solid $gold
        .social-media
          width: 100%
          position: absolute
          bottom: 0
          padding-left: 30px
          opacity: .8
          svg
            width: 40px
            height: auto
            #facebook, #instagram
              transition: fill $speed $evil_ease
            &:hover
              #facebook, #instagram
                fill: $white

  svg#TBR
    width: 17%
    padding-left: 23%
  svg#lightening
    width: 5%
    padding-left: 23%

.centered-content
  position: absolute
  color: $gold
  width: 25vw
  height: auto
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  text-align: center
  h1
    font-size: 10vw
  h1:nth-child(2)
    position: absolute
    font-family: 'Seventies Shade Solo'
    top: 50%
    left: 50%
    transform: translate(-50%,-57%)
    opacity: 0
    transition: opacity 0.25s ease-in-out
    &:hover
      opacity: 1

#home, #about, #merch, #contact
  background-color: $white

#home .centered-content
  width: 30vw

#about .slide-inner
  background-image: url('/images/the-born-readies-about.jpg')

#merch .slide-inner
  background-image: url('/images/the-born-readies-merch.jpg')
  h1
    letter-spacing: -3px
