#you-are-here, #you-are-here-detail, #you-are-here-about-detail
  position: absolute
  right: 25px
  top: 50%
  opacity: .5
  visibility: visible
  transform: translateY(-50%)
  transition: visibility 500ms linear $speed, opacity $speed-metal $evil-ease
  @include respond-above($media_768)
    right: 35px

  .here-nav
    border: $gold 2px solid
    border-radius: 50%
    width: 10px
    height: 10px
    margin-bottom: 10px
    cursor: pointer
    transition: background-color $speed-metal $evil-ease

    &.active
      background-color: $gold

  .here-nav-detail
    border: $gold 2px solid
    border-radius: 50%
    width: 10px
    height: 10px
    margin-bottom: 10px
    cursor: pointer
    transition: background-color $speed-metal $evil-ease

    &.active
      background-color: $gold

  &.hide
    visibility: hidden
    opacity: 0
