#you-are-here
  position: absolute
  right: 30px
  top: 50%
  transform: translateY(-50%)

  .circle
    border: $gold 2px solid
    border-radius: 50%
    width: 20px
    height: 20px
    margin-bottom: 10px
    cursor: pointer
    transition: background-color $speed-metal $evil-ease

    &.active
      background-color: $gold
